@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&family=Ubuntu&display=swap');

/*font-family: 'Fira Sans', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu', sans-serif; */
* {
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(to bottom, rgb(83, 214, 214), rgb(200, 57, 57));
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;

}

/* Left side  */
.left-side {
    font-family: 'Fira Sans', sans-serif;
    grid-row: 1 / 3;
    background-image: linear-gradient(to right, rgb(238, 202, 208), rgb(127, 202, 202));
    border-radius: 10px;
}

/* Image in left side */
.left-side .image img {
    border-radius: 10px;
    height: 15em;
    width: 100%;
    object-fit: cover;
}

/* Name in left side */
.left-side .image h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.info {
    border-bottom: 1px solid #dad4d4;

}

/* Information */
.info ul li {
    margin: 4px;
    padding: 5px;
    font-size: 1.2em;
}

/* skills */
.skills {
    border-bottom: 2px solid #dad4d4;
}

h3 {
    margin-left: 4px;
    font-size: 1.3em;
    font-family: 'Ubuntu', sans-serif;
}

ul li {
    font-size: 1.2em;
    margin-left: 4px;
    padding: 3px;
}

/* Education */
.education {
    font-family: 'Fira Sans', sans-serif;
    grid-column: 2;
    background-image: linear-gradient(to right, rgb(238, 202, 208), rgb(127, 202, 202));
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.education h4 {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 4px;
}

.education p {
    margin-top: -5px;
}

/* about section */
.about {
    font-family: 'Ubuntu', sans-serif;
    grid-column: 2;
    background-image: linear-gradient(to right, rgb(238, 202, 208), rgb(127, 202, 202));
    margin-left: 10px;
    margin-top: 14px;
    border-radius: 10px;
}

.about p {
    padding: 7px;
    font-family: 'Fira Sans', sans-serif;
}



/* footer */
footer {
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to bottom, rgb(67, 229, 215), rgb(158, 227, 93));
    text-align: center;
    border-radius: 10px;
    margin-bottom: 0;
}

footer h3 {
    padding: 4px;
}

footer img {
    border-radius: 15px;
    width: 3em;
    height: 3em;
}

footer img:hover {
    opacity: .6;
}

footer p {
    text-align: center;
}

/* responsive */
@media (max-width:700px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .left-side,
    .about,
    .education {
        margin-top: 10px;
        grid-column: 1 /3;
    }


}